body {
  font-family: Verdana, sans-serif;
}

a {
  color: Blue;
  text-decoration: none;
}

a:visited {
  color: Blue;
}

a:hover {
  color: Purple;
  text-decoration: underline;
}

.iv_link_button {
  background: inherit;
  border: 1px solid Grey;
  border-radius: 3px;
  width: 100%;
  cursor: pointer;
}

.iv_link_button:hover {
  background: LightGrey;
}

.iv_link_button:active {
  background: DarkGrey;
}

#version {
  color: Silver;
}
